/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic); */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #afa8a8;
	font-family: "HelveticaRegular";
}

header{
	position: fixed;
	min-height: 50px;
	background: rgba(32, 38, 41, .8);
	margin: 0 auto;
	width: 100%;
	top:0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
header a{
	text-decoration: none;
}
header a:hover{
	border-bottom: 1px solid white;
	-webkit-transition: .2s ease-out;
}
.wrap{
	margin: 0 auto;
	max-width:1378px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	color: white;
	display: inline-block;
	padding: 16px 0;
}
.nav ul li.bold{
	background: #1e1e1e;
}
.nav ul li.bold:hover{
	background: #121212;
	border: none;
}
.nav ul li.blue{
	background: rgba(70, 80, 88, .8);
}
.nav ul li.blue:hover{
	background: rgb(70, 80, 88);
}
.nav ul li.active a{
	border-bottom: 1px solid white;
}
.nav ul li a{
	color:white;
	padding: 15px;
}
#content .wrap{
	max-width: 960px;
	background: white;
	margin-top: 70px;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.book-block{
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 0 20px 20px;
	max-width: 184px;
}
.book-block a{
	text-decoration: none;
	color: black;
	max-width: 184px;
}
.book-block img{
	max-width: 144px;
}
.book-block span.title, span.author{
	display: block;
	font-weight: 400;
}
.book-block span.title{
	font-size: 18px;
	font-weight: 500;
}
.book-block span.author{
	font-size: 14px;
}
.book-img{
	max-width: 300px;
	display: inline-block;
}
.book-info{
	max-width: 600px;
	min-width: 100px;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 10px 20px;
}
.book-info p{
	line-height: 30px;
}
h1{
	font-size: 36px;
	line-height: 40px;
}
h2{
	font-size: 30px;
	line-height: 40px;
}
h3{
	font-size: 24px;
	line-height: 40px;
}
h4{
	font-size: 18px;
	line-height: 20px;
}
.book-img .rating{
	width: 100%;
	height: 20px;
	display: block;
	background: #000;
}
#comments{
	margin-top: 20px;
}
.comment{
	display: block;
	width: 100%;
	min-height: 80px;
}
.comment img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	display: block;
	float: left;
}
.comment-head h4{
	display: inline-block;
	padding: 0 10px;
}
.comment-head-rating{
	float: right;
}
.comment-text {
	padding-left: 51px;
}
.comment-text p{
	padding: 7px;
}
.text-center{text-align: center;}
footer{
	margin: 50px;
}
footer a{
	text-decoration: none;
	color: rgb(70, 80, 88);
}
@media(max-width:1024px){
	.nav ul li{
		padding-right: 5px;
		padding-left: 5px;
	}

}
@media(max-width:768px){
	.comment-text{
		padding: 99px 13px 6px 13px;
	}
/* 	header ul.right{
	float: left;
}
header ul{
	width: 100%;		
}
header ul li{
	width: 100%;
}
header ul li a{
	display: block;
	width: 100%;
	text-align: center;
} */
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: 500px;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup #content{
	max-width: 450px;
}
.popup  input[type="text"], .popup  input[type="submit"], .popup  input[type="file"]{
	width: 100%;
	padding: 7px;
	margin: 5px;
}
.popup-comment{
	padding-bottom: 60px !important;
}
.popup .close {
	text-decoration: none;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  
  color: rgb(70, 80, 88);
}
.popup .close:hover {
  border-bottom: none;
  text-decoration: none;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
