@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);
*{
	padding: 0;
	margin: 0;
}
body{
	background: #afa8a8;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	border-bottom: 1px solid white;
	-webkit-transition: .2s ease-out;
}
header{
	position: fixed;
	min-height: 50px;
	background:rgba(20, 20, 20, .8);
	margin: 0 auto;
	width: 100%;
	top:0;
}
.wrap{
	margin: 0 auto;
	max-width:1378px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.nav{
}
.nav ul{
	list-style: none;
}
.nav ul li{
	color: white;
	display: inline-block;
	padding: 16px;
}
.nav ul li.logo{
	background: #1e1e1e;
}
.nav ul li.logo:hover{
	background: #121212;
}
.nav ul li.logo a:hover{
	border-bottom: none;
}
.nav ul li.active a{
	border-bottom: 1px solid white;
}
.nav ul li a{
	color:white;
	padding: 15px;
}
#content .wrap{
	width: 960px;
	background: white;
	margin-top: 50px;
	padding: 20px;
}
img.book-img {
	max-width: 300px;
	display: inline-block;
	padding-right: 20px;
}
.book-img{
	width: 320px;
}
.book-info{
	display: inline-block;
	vertical-align: top;
}
@media(max-width:1024px){
	.nav ul li{
		padding-right: 5px;
		padding-left: 5px;
	}

}
@media(max-width:768px){
/* 	header ul.right{
	float: left;
}
header ul{
	width: 100%;		
}
header ul li{
	width: 100%;
}
header ul li a{
	display: block;
	width: 100%;
	text-align: center;
} */
}