@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #afa8a8;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	border-bottom: 1px solid white;
	-webkit-transition: .2s ease-out;
}
header{
	position: fixed;
	min-height: 50px;
	background: rgba(32, 38, 41, .8);
	margin: 0 auto;
	width: 100%;
	top:0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.wrap{
	margin: 0 auto;
	max-width:1378px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	color: white;
	display: inline-block;
	padding: 16px;
}
.nav ul li.bold{
	background: #1e1e1e;
}
.nav ul li.bold:hover{
	background: #121212;
	border: none;
}
.nav ul li.blue{
	background: rgba(70, 80, 88, .8);
}
.nav ul li.blue:hover{
	background: rgb(70, 80, 88)
}
.nav ul li.active a{
	border-bottom: 1px solid white;
}
.nav ul li a{
	color:white;
	padding: 15px;
}
#content .wrap{
	max-width: 960px;
	background: white;
	margin-top: 70px;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.book-block{
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	padding: 0 20px 20px;
	max-width: 184px;
}
.book-block a{
	text-decoration: none;
	color: black;
	max-width: 184px;
}
.book-block img{
	max-width: 144px;
}
.book-block span.title, span.author{
	display: block;
	font-weight: 400;
}
.book-block span.title{
	font-size: 18px;
	font-weight: 500;
}
.book-block span.author{
	font-size: 14px;
}
.book-img{
	max-width: 300px;
	display: inline-block;
}
.book-info{
	max-width: 600px;
	min-width: 100px;
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 10px 10px;
}
.book-img .rating{
	width: 100%;
	height: 20px;
	display: block;
	background: #000;
}
.comment{
	display: block;
	width: 100%;
	min-height: 80px;
}
.comment img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.comment-text:after{
	border: 10px solid transparent;
	border-right: 10px solid #44A754;
	border-top: 10px solid #44A754;
	display: block;
	width: 0;
	height: 0;
	content: '';
	left:-20px;
	top:-0px;
	position: absolute;
}
.comment-text{
	position: relative;
	float: left;
	padding: 10px;
	padding-top: 0;
	border: 1px solid #44A754;
	border-radius: 3px;
}
.text-center{text-align: center;}
footer{
	margin: 50px;
}
@media(max-width:1024px){
	.nav ul li{
		padding-right: 5px;
		padding-left: 5px;
	}

}
@media(max-width:768px){
/* 	header ul.right{
	float: left;
}
header ul{
	width: 100%;		
}
header ul li{
	width: 100%;
}
header ul li a{
	display: block;
	width: 100%;
	text-align: center;
} */
}