.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	max-width: 500px;
	position: relative;
	transition: all 5s ease-in-out;
}
.popup #content{
	max-width: 450px;
}
.popup input[type="text"],
.popup input[type="range"],
.popup input[type="submit"],
.popup input[type="file"]{
	width: 100%;
	padding: 7px;
	margin: 5px;
}
.popup-comment{
	padding-bottom: 60px !important;
}
.popup .close {
	text-decoration: none;
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	color: rgb(70, 80, 88);
}
.popup .close:hover {
	border-bottom: none;
	text-decoration: none;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}